  .mat-icon {
    vertical-align: middle;
  }
  /* Styling the button container */
.button-container {
    display: flex;
    justify-content: flex-start;  /* Align buttons to the left */
    gap: 20px;  /* Space between buttons */
    padding: 15px 0;  /* Add vertical padding */
  }
  
  .button-container button {
    margin: 0;
    padding: 10px 20px;  /* Add padding inside the buttons */
    font-size: 14px;  /* Adjust button font size */
    text-transform: capitalize;  /* Make button text more readable */
    border-radius: 5px;  /* Slightly rounded corners */
  }
  
  .button-container button.mat-raised-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .button-container button[color="primary"] {
    background-color: #a72850; /* Primary color (blue) */
    color: white;
  }
  
//   .button-container button[color="accent"] {
//     background-color: #a72850; /* Accent color (green) */
//     color: white;
//   }
  
  .button-container button:hover {
    opacity: 0.8;  /* Slight opacity change on hover */
    transition: opacity 0.3s; /* Smooth transition */
  }
  
  
  